cloud-back/statemachine/family_invite.asl.json
{
    "Comment": "Step Function For Inviting Friends",
    "StartAt": "CreateRequest",
    "States": {
        "CreateRequest": {
            "Type": "Task",
            "Resource": "${SendSharingInviteArn}",
            "Next": "CheckValidity"
        },
        "CheckValidity": {
          "Type": "Choice",
          "Choices": [
            {
                "Variable": "$.status",
                "BooleanEquals": true,
                "Next": "CheckRespond"
            }

          ],
          "Default": "UnsucessfulInvitation"
        },
        "UnsucessfulInvitation": {
            "Type":"Pass",
            "End": true
        }, 
        "CheckRespond": {
            "Type": "Task",
            "Resource": "${CheckRespondArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 100,
                    "MaxAttempts": 10,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckIfAccepted"
        },
        "CheckIfAccepted": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "BooleanEquals": true,
                    "Next": "NotifyAccepted"
                }
            ],
            "Default": "NotifyDeclined"
        },
        "NotifyAccepted":{
            "Type": "Task",
            "Resource": "${NotifyAcceptedArn}",
            "End": true
        },
        "NotifyDeclined": {
            "Type": "Task",
            "Resource": "${NotifyDeclinedArn}",
            "End": true
        }
        
    }
}